html, body{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7D358;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color: #FE642E;
}

.jumbotron img {
    width: 200px;
}


input, select{
    width: 60% !important;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
}

#myForm button {
    padding: 7.5px;
    width: 20%;
    margin: 30px;
}

@media screen and (max-width: 767.5px){
    input, select{
        width: 80% !important;
        text-align: center;
    }
    #myForm button {
        width: 33%;
    }
}


#divCargando {
    background-color:rgba(150, 64, 12, 0.65);
    position: fixed;
    width: 100%;
    height: 100%; 
}

#divCargando div {
    width: 100%;
    height: 100%;
    text-align:center; 
    display: table;
}

#divCargando div div {
    display:table-cell;
    vertical-align:middle
}